nav {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
}

.form-container {
    height: 80vh;
    position: relative;
}

.form-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 50px;
    border: 3px solid #24A0ED;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}