.overlay-modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    display: none;
}

.overlay-modal.active-modal {
    display: block;
}

.confirmation-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 525px;
    height: 350px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    z-index: 999999;
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text-modal {
    text-align: center;
}

.icon-modal {
    width: 128px;
    height: 128px;
}

.buttons-modal {
    width: 225px;
    display: flex;
    justify-content: space-between;
}

.no-button {
    width: 100px;
    height: 40px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-button:hover {
    text-decoration: none;
    color: white;
}

.yes-button {
    width: 100px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-button:hover {
    text-decoration: none;
    color: white;
}
